HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
/.mvn/
/mvnw.cmd
/mvnw
/company/zrar/csmonitor-data-generator/logs/
/logs/
/projects/order12306/target/
/projects/score-system-frontend/node_modules/
/projects/score-system-frontend/yarn.lock
/cookie/
/projects/order12306-frontend/yarn.lock
/node_modules/
/test.tsv
/sentences.txt
/badSentences.txt
/company/zrar/test-bad-language-model/output.txt
/company/zrar/test-bad-language-model/output.tsv
/company/zrar/test-bad-language-model/logs/
/projects/tensorflow-java/src/main/resources/yxwx/1564105115/variables/variables.data-00000-of-00001
/yxwx/
